:root {
  --switcher-background: #A8C9EA;
}

.darkmode {
  --switcher-background: #706F8E;
}

$black: #22222E;
$dark-purple: #393A5A;
$mid-purple: #706F8E;
$low-purple: #ADA9BA;
$bg-purple: #dedce3;
$white: #E9E9E9;
$yellow: #FFD802;
$skyblue: #A8C9EA;
$switcher-background: var(--switcher-background);