@import '../../App';

.personContainer {
	height: 80vh;
	display: flex;
	background-color: $low-purple;
	border-radius: 3px;
}

.personContainer > div {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.personContainer > div:first-child {
	display: flex;
	justify-content: center;
	margin-left: 10%;
	width: 40%;
	color: $black;
}

.personContainer > div:first-child span:first-child {
	font-size: 95px;
}

.personContainer > div:first-child span:last-child {
	font-size: 40px;
	padding-left: 4px;
}

.personContainer > div:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.personContainer > div:last-child img {
	width: 400px;
	border-radius: 100%;
}

.blocksLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	height: 100px;
	color: $black;
}

.skillsContainer {
	margin-top: 30px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	color: $black;
}

.skillsContainer > div:last-child{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.selectedSkill {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #dedce3;
	width: 13%;
	min-height: 230px;
	margin: 40px 2% 0 2%;
	border-radius: 3px;
}

.selectedSkill img {
	width: 60%;
}

.educationContainer { 
	margin-top: 50px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	color: $black;
}

.educationContainer > div:last-child {
	height: 400px;
	display: flex;
	border-radius: 3px;
}

.educationContainer > div:last-child > div {
	display: flex;
	align-items: center;	
	width: 50%;
	height: 100%;
}

.educationContainerImg img{
	width: 400px;
	height: 300px;
	margin-left: 10%;
	border-radius: 20%;
	box-shadow: 6px 6px 10px -1px $mid-purple,-7px -7px 6px -1px $bg-purple;
}

.educationContainerDescp {
	justify-content: center;
	position: relative;
	flex-direction: column;
}

.educationContainerDescp svg { 
	font-size: 320px;
	transform: rotate(20deg);
	color: $bg-purple;
	position: absolute;
}

.educationContainerDescp > span {
	z-index: 10;
 	font-size: 35px;
}

.educationContainerDescp > div {
	z-index: 10;
	padding: 20px 0 0px 0;
}

.educationContainerDescpTable {
	display: flex;
	width: 80%;
}

.educationContainerDescpTable > div {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.educationContainerDescpTable > div:first-child {
	border-right: 1px solid $black;
}

.educationContainerDescpTable > div span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.educationContainerDescpTable > div span:first-child {
	border-bottom: 1px solid $black;
	height: 50px;
}

.educationContainerDescpTable > div span:last-child {
	height: 100px;
}

.worksContainer {
	margin-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    color: #22222E;
    position: relative;
}

.worksContainer > div:last-child {
	margin-top: 40px;
	display: flex;
}

.worksContainer > div:last-child > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.worksContainer > div:last-child > div:first-child {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	z-index: 4;
}

.worksContainer > div:last-child > div:first-child span {
	padding: 20px 0;
	font-size: 30px;
}

.worksContainer video {
	border-radius: px;
	z-index: 4;
}

.worksBackground {
	position: absolute;
    background-color: $bg-purple;
    width: 112%;
    height: 80%;
    left: -6.47%;
    bottom: -4%;
}

.aboutMeContainer {
	margin-top: 50px;
	color: #22222E;
}

.aboutMeContainer > div:last-child {
	height: 300px;
	display: flex;
	margin-top: 30px;
}

.aboutMeContainer > div:last-child > div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutMeContainer > div:last-child > div:first-child {
	background-color: $bg-purple;
	border-radius: 5px;
	width: 70%;
	flex-direction: column;
}

.aboutMeContainer > div:last-child > div:first-child > span{
	width: 80%;
	padding: 5px 0;
	font-size: 20px;
}

.aboutMeContainer > div:last-child > div:last-child{
	width: 30%;
}

.infoButtons {
	width: 200px;
	height: 190px;
	display: flex;
	align-items: center;
}

.infoButtons > div {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoButtons > div > a {
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	transition: .2s;
	background-color: $bg-purple;
}

.infoButtons > div > a:hover {
	width: 100%;
	height: 100%;
	font-size: 43px;
	
}

.infoButtons > div:first-child > a {
	border-radius: 100px 5px 5px 100px;
	color: black;
	box-shadow: $low-purple 0px 2px 5px -1px, $mid-purple 0px 1px 3px -1px;
}

.infoButtons > div:first-child > a:hover {
	background-color: black;
	color: $bg-purple;
}

.infoButtons > div:last-child > a {
	border-radius: 5px 100px 100px 5px;
	color: #0a66c2;
	box-shadow: $low-purple 0px 2px 5px -1px, $mid-purple 0px 1px 3px -1px;
}

.infoButtons > div:last-child > a:hover {
	background-color: #0a66c2;
	color: $bg-purple;
}
