@import '../../App';

.mainContainerContent {
	width: 90%;
	margin: 30px 0 30px 5%;
	min-height: calc(100vh - 200px);
	background: $white;
	z-index: -9999999;
}

.NotFoundPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.NotFoundPage > span:first-child {
	font-size: 250px;
}

.NotFoundPage > span:last-child {
	font-size: 30px;
}