@import '../../App';

.personContainer {
	min-height: 80vh;
	display: flex;
	align-items: center;
	background-color: $low-bg;
	border-radius: 3px;
}

.personContainer > div {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.personContainer > div:first-child {
	display: flex;
	justify-content: center;
	margin-left: 10%;
	width: 40%;
	color: $black;
}

.personContainer > div:first-child span:first-child {
	font-size: 6rem;
}

.personContainer > div:first-child span:last-child {
	font-size: 3rem;
	padding-left: 4px;
}

.personContainer > div:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.personContainer > div:last-child img {
	width: 65%;
	border-radius: 100%;
}

.blocksLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	height: 100px;
	color: $text-color-on-bg;
}

.skillsContainer {
	margin-top: 30px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	color: $text-color-on-bg;
}

.skillsContainer > div:last-child{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.selectedSkill {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: $bg-purple;
	min-width: 13%;
    max-width: 15%;
	min-height: 230px;
	margin: 40px 2% 0 2%;
	border-radius: 3px;
}

.selectedSkill img {
	width: 60%;
}

.educationContainer { 
	margin-top: 50px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	color: $text-color-on-bg;
}

.educationContainer > div:last-child {
	margin-top: 20px;
	display: flex;
	border-radius: 3px;
}

.educationContainer > div:last-child > div {
	display: flex;
	align-items: center;	
	width: 50%;
	height: 100%;
}

.educationContainerImg img{
    height: 300px;
    margin-left: 10%;
    border-radius: 20%;
	box-shadow: 2px 2px 10px -1px $dark-purple,-4px -4px 6px -1px $bg-purple;
}

.educationContainerDescp {
	justify-content: center;
	position: relative;
	flex-direction: column;
}

.educationContainerDescp svg { 
	width: 80%;
	height: 100%;
	transform: rotate(20deg);
	color: $bg-purple;
	position: absolute;
}

.educationContainerDescp > span {
	z-index: 10;
 	font-size: 2.1rem;
    text-align: center;
}

.educationContainerDescp > div {
	z-index: 10;
	padding: 20px 0 0px 0;
}

.educationContainerDescpTable {
	display: flex;
	width: 80%;
}

.educationContainerDescpTable > div {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}

.educationContainerDescpTable > div:first-child {
	border-right: 1px solid $text-color-on-bg;
}

.educationContainerDescpTable > div span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}

.educationContainerDescpTable > div span:first-child {
	border-bottom: 1px solid $text-color-on-bg;
	height: 50px;
}

.educationContainerDescpTable > div span:last-child {
	height: 100px;
}

.worksContainer {
	margin-top: 30px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    color: #22222E;
    position: relative;
}

.worksContainer > div:last-child {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.worksBackground {
	position: absolute;
    background-color: $bg-purple;
    width: 112%;
    height: 80%;
    left: -6.47%;
    bottom: -4%;
}

.worksBackground > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.worksBackground > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.worksBackground > div > div:first-child {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	z-index: 4;
}

.worksBackground > div > div:first-child span {
	padding: 20px 0;
	font-size: 1.8rem;
    text-align: center;
    color: $text-color-on-bg;
}

.worksContainer video {
	border-radius: 5px;
	z-index: 4;
}

.aboutMeContainer {
	margin-top: 50px;
}

.aboutMeContainer > div:last-child {
	display: flex;
	margin-top: 30px;
	align-items: center;
	position: relative;
}

.aboutMeContainer > div:last-child > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutMeContainer > div:last-child > div:first-child {
    background-color: $bg-purple;
    border-radius: 5px;
    width: 70%;
    min-height: 170px;
    padding: 20px;
    flex-direction: column;
}

.aboutMeContainer > div:last-child > div:first-child > span{
	width: 80%;
	padding: 5px 0;
	font-size: 20px;
	color: $text-color-on-bg;
}

.aboutMeContainer > div:last-child > div:last-child{
	width: 30%;
}

.infoButtonsMobile {
	display: none;
}

.infoButtons {
	width: 200px;
	height: 190px;
	display: flex;
	align-items: center;
}

.infoButtons > div {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoButtons > div > a {
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	transition: .2s;
	background-color: $bg-purple;
}

.infoButtons > div > a:hover {
	width: 100%;
	height: 100%;
	font-size: 43px;
	
}

.infoButtons > div:first-child > a {
	border-radius: 100px 5px 5px 100px;
	color: black;
	box-shadow: $bg-purple 0px 2px 5px -1px, $dark-purple 0px 1px 3px -1px;
}

.infoButtons > div:first-child > a:hover {
	background-color: black;
	color: $theme-background;
}

.infoButtons > div:last-child > a {
	border-radius: 5px 100px 100px 5px;
	color: #0a66c2;
	box-shadow: $bg-purple 0px 2px 5px -1px, $dark-purple 0px 1px 3px -1px;
}

.infoButtons > div:last-child > a:hover {
	background-color: #0a66c2;
	color: $theme-background;
}

@media (max-width: 1030px) {

	.personContainer {
		min-height: 60vh;
		padding: 20px 0;
	}

	.personContainer > div:first-child span:first-child {
		font-size: 4rem;
	}

	.personContainer > div:first-child span:last-child {
		font-size: 2rem;
	}

	.educationContainer > div:last-child {
		flex-direction: column-reverse;
		align-items: center;
	}

	.educationContainer > div:last-child > div {
		width: 100%;
		justify-content: center;
		margin-top: 20px;
	}

	.educationContainerImg img {
		margin-left: 0;
		height: initial;
		width: 80%;
	}

	.worksContainer {
		min-height: 600px;
	}

	.worksContainer > div:first-child {
		margin-top: 10px;
	}

	.worksBackground > div {
		flex-direction: column;
	}

	.worksBackground > div > div:first-child {
		margin-bottom: 20px;
		width: 80%;
	}

	.worksBackground > div > div:first-child span {
		padding: 5px 0;
		
	}

	.worksBackground > div > div:last-child {
		width: 70%;
	}

	video {
		height: 100%;
	}

	.aboutMeContainer > div:last-child > div:first-child {
		width: calc(100% - 40px);
		position: relative;
		padding: 30px 20px;
	}

	.aboutMeContainer > div:last-child > div:first-child > span {
		font-size: 1rem;
	}

	.aboutMeContainer > div:last-child > div:last-child {
		display: none;
	}

	.infoButtonsMobile {
		display: flex;
		position: absolute;
		right: 10px;
		bottom: 5px;
	}

	.infoButtonsMobile > div {
		width: 30px;
		height: 30px;
		margin-left: 20px;
	}

	.infoButtonsMobile > div > a > svg {
		width: 100%;
		height: 100%;
	}

	.infoButtonsMobile > div:first-child > a > svg {
		color: black;
	}

	.infoButtonsMobile > div:last-child > a > svg {
		color: #0a66c2;
	}

}

@media (max-width: 750px) {

	.personContainer {
		min-height: 20vh;
	}

	.personContainer > div:first-child span:first-child {
		font-size: 2rem;
	}

	.personContainer > div:first-child span:last-child {
		font-size: 1rem;
	}

	.selectedSkill {
		min-width: 22%;
		max-width: 29%;
	}

	.educationContainerDescp > span {
		font-size: 1.5rem;
	}

	.educationContainerDescpTable > div span {
		font-size: 0.9rem;
	}

	.educationContainerDescpTable {
		width: 95%;
	}

	.worksBackground > div > div:last-child {
		width: 90%;
	}


}
