.css-sprite-axios {
	background:url('../../Images/css-sprite-combined.png') 0px -144px;
	width:2945px;
	height:2356px;
	display:inline-block;
}

.css-sprite-css {
	background:url('../../Images/css-sprite-combined.png') -2945px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

.css-sprite-es6 {
	background:url('../../Images/css-sprite-combined.png') -3425px -0px;
	width:2500px;
	height:2500px;
	display:inline-block;
}

.css-sprite-git {
	background:url('../../Images/css-sprite-combined.png') -5925px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

.css-sprite-html {
	background:url('../../Images/css-sprite-combined.png') -6405px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

.css-sprite-js {
	background:url('../../Images/css-sprite-combined.png') -6885px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

.css-sprite-react {
	background:url('../../Images/css-sprite-combined.png') -7365px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

.css-sprite-reactn {
	background:url('../../Images/css-sprite-combined.png') -7845px -1988px;
	width:512px;
	height:512px;
	display:inline-block;
}

.css-sprite-sass {
	background:url('../../Images/css-sprite-combined.png') -8357px -2020px;
	width:480px;
	height:480px;
	display:inline-block;
}

