@import './App.scss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $theme-background;
}

body::-webkit-scrollbar {
  width: 5px;            
}

body::-webkit-scrollbar-track {
  background: $low-purple
}

body::-webkit-scrollbar-thumb {
  background-color: #181821;          
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
